<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Physio App</h1>

      <button (click)="startPhysio()" class = "btn btn-info">Start Physio</button>
      <button (click)="pausePhysio()" class = "btn btn-info">Pause</button>
      <h2 *ngIf="started && !complete">{{displayText}}: {{timeLeft}}s</h2>
      <h2 *ngIf="started && !complete">Stretches completed: {{numberOfExercisesCompleted}}</h2>
      <h2 *ngIf="started">Total time elapsed: {{totalTimeElapsed}}s</h2>
      <p *ngIf="complete">Physio session done for today!</p>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


